/* Definerer CSS-variabler */
/*Brukte coolers for å finne fargepallett */
:root {
    --primary-color: #7595A8; /* Primærfarge */
    --secondary-color: #6383A7; /* Sekundærfarge */
    --background-color: #5171A5; /* Bakgrunnsfarge */
    --text-color: #191c1f; /* Tekstfarge */
    --button-text-color: grey; /* Bakgrunn for knapper */
    
    /* Definerer skrifttyper */
    --heading-font: 'Arial', sans-serif;
    --body-font: 'Roboto', sans-serif;
    
    /* Definerer vanlige CSS-egenskaper */
    --default-padding: 16px;
    --default-margin: 16px;
    --default-border-radius: 8px;
    --max-width: 1200px;
  }
  
  /* Grunnleggende styling for body */
  body {
    font-family: var(--body-font);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Header-styling */
  header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: var(--default-padding);
    text-align: center;
    width: 100%;
  }
  
  /* H1-styling for overskriften */
  header h1 {
    font-family: purple;
    margin: 0;
  }
  
  /* Main-seksjon */
  main {
    max-width: var(--max-width);
    width: 100%;
    padding: var(--default-padding);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  /* Seksjonsstyling */
  section {
    background-color: var(--primary-color);
    padding: var(--default-padding);
    margin-bottom: var(--default-margin);
    border-radius: var(--default-border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  section h2 {
    font-family: var(--heading-font);
    color: var(--text-color);
  }
  
  /* Link-styling */
  a {
    color: var(--text-color);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Footer-styling */
  footer {
    background-color: var(--secondary-color);
    color: rgb(0, 0, 0);
    padding: var(--default-padding);
    text-align: center;
    width: 100%;
  }
  
  /* Button-styling */
  button {
    background-color: var(--button-text-color);
    color: var(--text-color);
    border: none;
    padding: var(--default-padding);
    border-radius: var(--default-border-radius);
    cursor: pointer;
    font-size: 16px;
    margin-top: var(--default-margin);
    
  }
  
  button:hover {
    background-color: var(--secondary-color);
  }